.header {
	margin-left: 250px;
	margin-top: 130px;
	margin-bottom: 40px;
	letter-spacing: 1px;
}
.tasks {
	font-family: roboto ;
	display: inline;
	font-size: 50px;
	font-weight: 900;
}
.lists {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	display: inline;
	font-size: 50px;
	color: grey;
}
.listdiv {
	flex-wrap: wrap;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	margin-left: 220px;
	margin-right: 200px;
}
.paris {
	border: 1px outset #E74C3C;
	box-shadow: 10px 10px 5px -2px lightgrey;
	border-radius: 10px;
	padding-bottom: 150px;
	font-size: 24px;
	font-weight: 100;
}
.paris:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.paris:active {
	background-color: grey;
}
.mylist {
	border: 1px outset #E74C3C;
	box-shadow: 10px 10px 5px -2px lightgrey;
	border-radius: 10px;
	padding-bottom: 150px;
	font-size: 24px;
	font-weight: 100;
}
.mylist:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.mylist:active {
	background-color: grey;
}
.mylist2 {
	border: 1px outset #E74C3C;
	box-shadow: 10px 10px 5px -2px lightgrey;
	border-radius: 10px;
	padding-bottom: 150px;
	font-size: 24px;
	font-weight: 100;
}
.mylist2:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.mylist2:active {
	background-color: grey;
}
.heading {
	text-align: center;
	margin-bottom: 5px;
	margin-left: 45px;
	margin-right: 45px;
	color: #E74C3C;
	/*text-decoration: underline;*/
}
.completedtask {
	color: #E74C3C;
	text-align: right;
	margin-right: 20px;
	margin-top: 40px;
	text-decoration: line-through solid #E74C3C 4px;
	font-weight: 300;
	font-size: 21px;
}
.pendingtask {
font-size: 20px;
color: grey;
}
.underline {
	border-bottom: 2px solid grey;
	margin-left: 48px;
	margin-top: 10px;
}
.checkbox {
	margin-left: 13px;
	width: 18px;
	height: 18px;
}
.checkbox:hover {
	cursor: pointer;
}
.button {
	border-width: 1px 0px 0px 0px;
	border-color: white;
	border-radius: 5px;
	background-color: white;
	margin-left: 300px;
	cursor: pointer;
}
.button:hover {
	background-color: orangered;
}

.plus {
	background-color: #E74C3C;
	margin: auto;
	padding: 0px 10px 0px 10px;
	border-radius: 50%;
	display: inline;
	font-size: 30px;
	color: white;
	font-weight: 100;
}
.addlist {
	display: inline;
	font-size: 30px;
	font-weight: 100;
	color: grey;
	margin-top: 20px;
}